.coin {
  width: 20vw;
  height: 20vw;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  border-radius: 999px;
  /* make it round like a coin */
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
}

.face {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 100%;
  color: white;
}

.front {
  background: url('/images/heads.png') center/cover no-repeat;
}

.back {
  background: url('/images/tails.png') center/cover no-repeat;
  transform: rotateY(180deg);
}
